environment="demo"
environments {
  demo {
     boot_dir="web/src/main/scala/bootstrap/liftweb"
     cat_orm_filename="db_sample_orm.xml"
     cat_util_output_dir="spa/src/main/scala/se/ta/liftsample/util"
     dog_output_dir="spa/src/main/scala/se/ta/liftsample/model"
     driver="org.apache.derby.jdbc.ClientDriver"
     mouse_output_dir="web/src/main/scala/se/ta/liftsample/model"
     output_package_base="se.ta.liftsample"
     persistence_unit="jpaweb-network"
     pig_output_all_in_one_file=false
     pig_output_dir="spa/src/test/scala/se/ta/liftsample/model"
     schema="APP"
     snippets_output_dir="web/src/main/scala/se/ta/liftsample/snippet"
     source_password="app"
     source_url="jdbc:derby://localhost:1527/sample"
     source_username="app"
     src_main_resources_dir="spa/src/main/resources/META-INF"
     target_password="secret"
     target_root_dir="/Users/Thomas/projects/lift2.2/LiftSample"
     target_url="jdbc:derby://localhost:1527/lift_sample"
     target_username="app"
     test_config_dir="spa/src/test/resources/META-INF"  
     web_pages_output_dir="web/src/main/webapp"  
  }
  mssql {
     driver="net.sourceforge.jtds.jdbc.Driver"
     url="jdbc:jtds:sqlserver://sample"
     username="app"
     password="app"
     schema="APP"
     output_package="se.ta.spagen.model"
  }
  production {
     driver="org.apache.derby.jdbc.ClientDriver"
     url="jdbc:derby://localhost:1527/sampleprod"
     source_username="app"
     source_password="secret"
     schema="APP"
  }
}
